[Unit]
Description=Galaxy RS232 SIA Listener met Telegram
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Galaxy-Notifier/start_listener.py
WorkingDirectory=/home/pi/Galaxy-Notifier
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
